.Dictionary section {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  border-radius: 8px;
  background: #fff;
  margin-top: 10px;
  padding: 20px 20px 10px 20px;
}
.Dictionary .searchForm {
  border: 1px solid #ddd;
  color: #666;
  width: 75%;
  border-radius: 3px;
  padding: 8px 5px;
  color: #666;
}
.Dictionary .submitButton {
  font-size: 18px;
  margin: 10px;
  padding: 6px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #666;
}
.Dictionary .submitButton:hover {
  background-color: #f9ecec;
  border-radius: 5px;
  color: #666;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
.Dictionary .lookUp {
  font-size: 28px;
  text-align: center;
}
.Dictionary .hints {
  margin: 0px 5px 10px 5px;
  opacity: 0.4;
}
