.Dictionary section {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  border-radius: 8px;
  background: #fff;
  margin-top: 10px;
  padding: 20px 20px 10px 20px;
}
.Dictionary .searchForm {
  border: 1px solid #ddd;
  color: #666;
  width: 70%;
  border-radius: 3px;
  padding: 10px 5px;
}
.Dictionary .submitButton {
  font-size: 18px;
  margin: 10px;
  padding: 8px 20px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
